<div *ngIf="show" id="detail" class=" flex ">
    <div class="card flex justify-content-center" [style] = "{'text-align': 'center', 'margin': '1.25rem'}">
        <p-card header={{orga.name}} subheader="XX membres" [style]="{ width: '600px', 'height': '377px' }">
            <ng-template pTemplate="content">
                <h3 *ngIf="orga.is_public">Cette organisation est public</h3>
                <h3 *ngIf="!orga.is_public">Cette organisation est privée</h3>
                <h3 [style]="{'margin-top' : '2.5rem'}">Description</h3>
                <p>{{orga.description}}</p>
            </ng-template>
            <ng-template pTemplate="footer" >
                <p-button icon="pi pi-arrow-left" [link]="true" label="retour" [style]="{'margin-top': '1rem', 'display':'block'}" routerLink=".."></p-button>
            </ng-template>
        </p-card>

    </div>
</div>
