<div *ngIf="show" id="detail" class=" flex justify-content-center">
    <div class="card flex justify-content-center" [style] = "{'text-align': 'center', 'margin': '1.25rem'}">
        <p-card header={{orga.name}}  [style]="{ width: '600px', 'height': '377px' }">
            <ng-template pTemplate="content">
                <h3 *ngIf="orga.is_public">Cette organisation est publique</h3>
                <h3 *ngIf="!orga.is_public">Cette organisation est privée</h3>
                <h3 [style]="{'margin-top' : '2.5rem'}">Description</h3>
                <p>{{orga.description}}</p>
            </ng-template>
            <ng-template pTemplate="footer" >
                <p-button icon="pi pi-arrow-left" [link]="true" label="retour" [style]="{'margin-top': '1rem', 'display':'block', color: '#650A21'}" routerLink="/org"></p-button>
            </ng-template>
        </p-card>
    </div>

  <div style="margin-top: 1.25rem; text-align: left !important;">
    <h3>Membres</h3>
    <ul style="margin-top: 1vh;">
    <li *ngFor="let user of users">
      {{user.firstName + ' ' + user.lastName}}
    </li>
  </ul>
  </div>

</div>
