<div id="cards" class=" flex ">
<!--    <app-card [title]="'À appliquer en priorité'" [text]="'XX cartes'" [styleCard]="{ width: '305px', 'height': '160px' }" [type]="true"></app-card>-->
    <!-- <div class="card flex justify-content-center" [style] = "{'text-align': 'center', 'margin': '1.5rem'}">
        <p-card header="À appliquer en priorité"[style]="{ width: '305px', 'height': '160px'}">
            <p>XX cartes</p>
            <p-button icon ="pi pi-eye" [link]="true" [style]="{'margin-top': '0.75rem'}"></p-button>
        </p-card>
    </div> -->
    <div class="card flex justify-content-center" [style] = "{'text-align': 'center', 'margin': '1.5rem'}">
        <p-card header="Déjà appliquées"[style]="{ width: '305px', 'height': '160px'}">
            <p>XX cartes</p>
            <p-button icon ="pi pi-eye" [link]="true" [style]="{'margin-top': '0.75rem', 'color':'#FF978A'}"></p-button>
        </p-card>
    </div>
</div>
<div id="cards" class=" flex ">
    <div class="card flex justify-content-center" [style] = "{'text-align': 'center', 'margin': '1.5rem'}">
        <p-card header="Non applicables"[style]="{ width: '305px', 'height': '160px'}">
            <p>XX cartes</p>
            <p-button icon ="pi pi-eye" [link]="true" [style]="{'margin-top': '0.75rem', 'color':'#FF978A'}"></p-button>
        </p-card>
    </div>
    <div class="card flex justify-content-center" [style] = "{'text-align': 'center', 'margin': '1.5rem'}">
        <p-card header="Non rencontrées"[style]="{ width: '305px', 'height': '160px'}">
            <p>XX cartes</p>
            <p-button icon ="pi pi-eye" [link]="true" [style]="{'margin-top': '0.75rem', 'color':'#FF978A'}"></p-button>
        </p-card>
    </div>
</div>
