<div [style]="{'display': 'flex', 'background-color':'rgb(52, 196, 230)', 'max-height': '486px'}">
    <!-- rgb(38, 157, 185) -->
    <div [style]="{'align-items': 'center', 'display': 'grid', 'width': '350px'}"> 
        <p-button [style]="{'margin':'1rem'}" icon ="pi pi-sitemap" label ="Mes bonnes pratiques" [link]="true" iconPos="right"></p-button>   
    </div>

    <div [style]="{'background-color': 'white','text-align': 'center', 'border-radius': '6px', 'margin-top': '1rem', 'margin-bottom': '1rem', 'display': 'grid', 'align-items': 'center' ,'overflow-y': 'auto'}">
        <h2 [style]= "{'margin-top': '0.5rem'}">Mes Organisations</h2>
        <div id="cards" class=" flex ">
            <div class="card flex justify-content-center" [style] = "{'text-align': 'center', 'margin': '1.25rem'}">    
                <p-card header="Michelin" subheader="XX membres" [style]="{ width: '600px', 'height': '377px' }">
                    <ng-template pTemplate="content">
                        <h3>Cette organisation est privée</h3>
                        <h3 [style]="{'margin-top' : '2.5rem'}">Description</h3>
                        <p>test</p>
                    </ng-template>
                    <ng-template pTemplate="footer" >
                        <p [style]="{'margin-top': '1rem'}">administarteur: pseudo_admin, joignable à l'adresse mail exemple[at]gmail.com</p>
                        <p-button icon="pi pi-arrow-left" [link]="true" label="retour" routerLink="org" routerLinkActiveOptions="{ exact: true }" [style]="{'margin-top': '1rem', 'display':'block'}"></p-button>
                    </ng-template>
                </p-card>
                
            </div>
        </div>
    </div>
</div>
