<div [style]="{'display': 'flex', 'background-color':'rgb(238, 238, 238)', 'height':'88.5vh'}">
  <div [style]="{'align-items': 'center', 'display': 'grid', 'width': '350px', 'text-align': 'center'}">
    <app-bonnes-pratiques-bouton routerLink="org"></app-bonnes-pratiques-bouton>
  </div>

  <div
    [style]="{'background-color': 'white','text-align': 'center', 'border-radius': '6px', 'margin-top': '1em', 'margin-bottom': '1.05em', 'display': 'grid', 'align-items': 'center', 'width':'60vw'}">
    <h2 [style]="{'margin-top': '0.5rem'}">Mes Bonnes Pratiques</h2>
    <div class=" flex justify-content-center">
      <div class="card flex justify-content-center" [style]="{'text-align': 'center', 'margin': '1.5rem'}">
        <p-card header="À appliquer en priorité" [style]="{ width: '305px', 'height': '160px'}">
          <p>{{ BP_to_do.length }} cartes</p>
          <p-button icon="pi pi-eye" [link]="true" [style]="{'margin-top': '0.75rem', 'color':'#FF978A'}"></p-button>
        </p-card>
      </div>
      <div class="card flex justify-content-center" [style]="{'text-align': 'center', 'margin': '1.5rem'}">
        <p-card header="Déjà appliquées" [style]="{ width: '305px', 'height': '160px'}">
          <p>{{ BP_done.length }} cartes</p>
          <p-button icon="pi pi-eye" [link]="true" [style]="{'margin-top': '0.75rem', 'color':'#FF978A'}"></p-button>
        </p-card>
      </div>
    </div>
    <div class=" flex justify-content-center">
      <div class="card flex justify-content-center" [style]="{'text-align': 'center', 'margin': '1.5rem'}">
        <p-card header="Non applicables" [style]="{ width: '305px', 'height': '160px'}">
          <p>{{ BP_undoable.length }} cartes</p>
          <p-button icon="pi pi-eye" [link]="true" [style]="{'margin-top': '0.75rem', 'color':'#FF978A'}"></p-button>
        </p-card>
      </div>
      <div class="card flex justify-content-center" [style]="{'text-align': 'center', 'margin': '1.5rem'}">
        <p-card header="Non rencontrées" [style]="{ width: '305px', 'height': '160px'}">
          <p>{{ BP_unseen_count }} cartes</p>
          <p-button icon="pi pi-eye" [link]="true" [style]="{'margin-top': '0.75rem', 'color':'#FF978A'}"></p-button>
        </p-card>
      </div>
    </div>
  </div>
</div>
