<div
  id="cards"
  class="orgas"
>
  <div  *ngFor="let orga of orgas">
    <app-card
      [title]="orga['name']"
      [text]="'Vous êtes membre de cette organisation'"
      [admin]="false"
      [type]="false"
      [id]="orga['id']"
    ></app-card>
  </div>
</div>

<p-button
  [style]="{
    color: '#650A21'
  }"
  icon="pi pi-plus-circle"
  label="Créer une organisation"
  [link]="true"
  routerLink="create"
></p-button>

<p-button
  [style]="{
    color: '#650A21'
  }"
  icon="pi pi-plus-circle"
  label="Rejoindre une organisation"
  [link]="true"
  routerLink="find"
></p-button>
