<div class="creation-general">
  <h1 class="title">Modifier une organisation</h1>
  <div class="colonnes">
    <div class="col1">
      <p-inputGroup class="input">
        <p-inputGroupAddon>
          <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input
          pInputText
          [(ngModel)]="name"
          placeholder="Nom de l'organisation"
        />
      </p-inputGroup>

      <div class="privatisation">
        <app-radio (visibilite)="childData($event)" class="radios"></app-radio>
      </div>

      <textarea
        class="description"
        rows="5"
        cols="30"
        pInputTextarea
        [(ngModel)]="description"
        placeholder="Description"
      ></textarea>

      <div class="boutons">
        <p-button
          [style]="{ color: '#000000',margin:'2h','margin-right': '10vw'}"
          label="Retour"
          [link]="true"
          routerLink="/org"
        ></p-button>

        <app-toast
          [nameData]="name"
          [descriptionData]="description"
          [privatisationData]="visibilite"
          [labelBouton]="bouton_label"
          [onClick]="editOrga.bind(this)"
          class="creation"
        ></app-toast>
        <!-- (click)="demandeRejoindre()" pour les tests uniquement-->

      </div>
      <!-- <p-button
        [style]="{ background: '#FF978A', border: 'none', width: '50%' }"
        label="list"
        (click)="printListDemandes()"
      >
      </p-button> -->
    </div>

    <div class="col2">
      <h3>En attente</h3>
      <app-members
        class="liste"
        [memberWaitingData]="memberWaitingData"
        [decide]="decide"
      >
      </app-members>
    </div>
  </div>
</div>
