<div [style]="{'display': 'flex', 'background-color':'rgb(52, 196, 230)', 'max-height': '486px'}">
    <!-- rgb(38, 157, 185) -->
    <div [style]="{'align-items': 'center', 'display': 'grid', 'width': '350px', 'text-align': 'center'}"> 
        <app-org-bouton routerLink="/"></app-org-bouton>   
    </div>

    <div [style]="{'background-color': 'white','text-align': 'center', 'border-radius': '6px', 'margin-top': '1rem', 'margin-bottom': '1rem', 'display': 'grid', 'align-items': 'center' ,'overflow-y': 'auto'}">
        <h2 [style]= "{'margin-top': '0.5rem'}">Mes Organisations</h2>
        <app-org-accueil *ngIf="router.url === '/org'"></app-org-accueil>
        <app-org-detail *ngIf="router.url === '/org/detail'"></app-org-detail>
    </div>
</div>
